@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


:root{
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}

body{
  overflow-x: hidden!important;
  height: 100%!important;
  width: 100%!important;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  

}
img{
  width: 100%;
  display: block;
}

p{
color: #000;
font-size: 1.125rem!important;
font-family: "Montserrat", Arial, sans-serif!important;
font-weight: 400!important;
padding: auto!important;

}
<!--navbar-->
img {
  max-width: 100%!important;
  display: block!important;
}

.navbar-toggler:hover{
  background-color: #fff;
  color: #f90101!important;
}

.navbar-toggler{
 background-color: #000;
 color: #f6f6f6;

}

.navbar{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .1rem;
}
.navbar-brand img{
  height: 3rem!important;

}
.navbar-nav li{
  padding-right: 0.7rem!important;
}
.navbar-light .navbar-nav .nav-link{
  color: #000;
  padding-top:.8rem;
}
.navbar-light .navbar-nav .nav-link .active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #ff1000!important;

}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ff1000!important;
  
}

/*-----Slider----*/
.carousel-item{
  height: 90vh;
}
.carousel-caption{
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0!important;
  left: 0!important;
}

.carousel-caption h1{
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff1000;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #444;
  padding-bottom: 1.6rem;

}
.carousel-caption h1.ontop{
 
  padding-bottom: .6rem!important;

}

.carousel-caption h3{
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .5rem #444;
  padding-bottom: 1rem;

}
/*-----leads----*/

.caro-item{
  height: 50vh;
}
.caro-cap{
  position: absolute;
  top: 20%;
  text-transform: capitalize;
  width: 100%;
  right: 0!important;
  left: 0!important;
}

.caro-cap h1{
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: .3rem;
  padding-bottom: 1.6rem;

}
.caro-cap h1.ontop{
  padding-bottom: .6rem!important;

}

/*----End of Lead------*/

.btn-lg{
  border-radius: 0;
  border-width: medium;
  font-size: 1.1rem;
}

.bana {
  font-family: Poppins, sans-serif!important;
  font-weight: 700!important;
  color: #ff4033!important;
  padding-bottom: .625rem!important;
}
.banner {
  font-size: 4rem!important;
  font-family: Montserrat, sans-serif;
  font-weight: 700!important;
  line-height: 4rem!important;
  margin-top: 3.2rem;
  font-style: normal;
  color: #ff1000;
}

p.para {
  font-style: normal!important;
  font-weight: 500!important;
  font-size: 1.5rem!important;
  font-family: Montserrat, sans-serif!important;
  margin-bottom: 1.25rem!important;
  margin-top: 1.25rem!important;

}

h2.welcome_header2.display-4{
  font-size: 42px!important;
  font-family: Montserrat, sans-serif;
  font-weight: 800!important;
  line-height: 48px!important;
  font-style: normal!important;
  color: #484848;
  margin-top: 10px!important;
}
h1.welcome_header2.display-4{
  font-size: 56px!important;
  font-family: Montserrat, sans-serif;
  font-weight: 900!important;
  line-height: 48px!important;
  font-style: normal!important;
  color: #f90101!important;
  margin-bottom: 10px!important;
}

.container {
      max-width: 1440px!important;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }

.map-container{
  overflow:hidden;
  padding-bottom:6.25%;
  position:relative;
  height:0;
  margin-top: 50px;
  margin-bottom: 50px;
  }
  .map-container iframe{
  left:0;
  top:0;
  height: 100%;
  width:100%;
  position:absolute;
}
 
.social a{
  font-size: 2.5rem;
  padding: 10px;
}

/* Facebook */
.fa-facebook {
  color: #3B5998;

}

/* Twitter */
.fa-twitter {
  color:  #00ACED;
}
.fa-instagram{
  color: #cc0d00;
}
.fa-youtube{
  color: #bb0000;
}
#footer-nav .navbar .navbar-nav > li > a {
  color: #000!important;
  font-size: 18px!important;
}
.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 25px;
  width:4rem;
  height:3.5rem;
  font: size 2.5rem !important;
  display: none;
  background-color: #ff1000!important; /* Set a background color */
  color: white!important; /* Text color */
}
.back-to-top:hover {

  background-color:transparent!important; /* */
  color: tomato!important; 
}

nav#footer-nav.navbar.navbar-expand-md.navbar-light.bg-light{
	text-transform: uppercase!important;
  font-weight: 600!important;
  font-size: 1.2rem!important;
	line-height: 2!important;
  letter-spacing: .1rem!important;
  background-color: transparent!important;

}

.float1{
position:fixed;
width:4rem;
height: 4rem;;
bottom:2.5rem;
left:1.6rem;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:2rem;
box-shadow: 2px 2px 3px #999;
z-index:100;
}

a#chat_btn.btn.btn-outline-light.btn-lg{
  position: fixed!important;
  margin: 5px 10px!important;
  width: auto !important;;
  height: auto!important;
  bottom: 2.5rem !important;
  left:4.7rem !important;
  background-color: silver!important;
  color:#000;
  border-radius:5px!important;
  font-size:1.1rem!important;
  z-index:100!important;
  text-decoration: none!important;
}

.my-float{
margin-top:16px;
}

.card {
  margin-top: 3.2rem;
}

h3.card-title {
  position: relative;
  padding-bottom: 30px;
}
h2.card-title {
  position: relative;
  padding-bottom: 30px;
}

p.card-text{
  padding: auto;
}

/* blog */
.blog{
  background: #f9f9f9;
  padding: 4.5rem 0;
}
.blog-content{
  margin: 2rem 0;
}
.blog-img{
  position: relative;
}
.blog-img img{
  transition:  all 0.5s ease;
}
.blog-img:hover img{
  transform: scale(1.2);
}
.blog-img span{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--exDark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text{
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span{
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}
.blog-text h2{
  font-family: var(--Playfair);
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}
.blog-text p{
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}
.blog-text a{
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}
.blog-text a:hover{
  background: var(--exDark);
}

/* form */

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border:1px solid #ffffff;
  background-color:#e9ebee;
}

.comments-title {
  font-size: 2rem;
  color: #262626;
  margin-bottom: 15px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.form-group.fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
}



/* Main div for border to extend to 50% from bottom left corner */

h3.card-title:after {
  content: "";
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 30%;
}
h2.card-title:after {
  content: "";
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
}

<!---about us css---->

p#para{
  font-size: 35px!important;
  font-family: Montserrat, sans-serif;
  line-height: 38px!important;
  font-weight: 400!important;
  color: #484848!important;
  padding: 75px!important;

}

.demo {
  margin: 20px;
}
.accordion .fa {
  margin-right: 0.5rem;
}
.accordion button, .accordion button:hover, .accordion button:focus{
  text-decoration: none;
}

<!---ministry css---->

p.ministry{
  font-size:20px!important;

}

/*------Blog------*/

h4.text-justify .font-weight-light{
  color: #fff;
  font-size: 1.2rem!important;
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 300!important;
  padding: auto!important;
}


div.sermon_para p{
  color: #000;
  font-size: 1.3rem!important;
  font-family: 'Playfair Display', serif!important;
  font-weight: 500!important;
  padding: auto!important;
  padding-bottom: 1rem!important;
}
div.sermon_para ol li{
  color: #000;
  font-size: 1.3rem!important;
  font-family: 'Playfair Display', serif!important;
  font-weight: 500!important;
  margin-left: 3rem!important;
  margin-right: 3rem!important;
}

div.sermon_para ul li{
  color: #000;
  font-size: 1.3rem!important;
  font-family: 'Playfair Display', serif!important;
  font-weight: 500!important;
  margin-left: 3rem!important;
  margin-right: 3rem!important;
}

div.sermon_para h3{
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Playfair Display', serif!important;
  padding: auto!important;
}

#section-margin{
  margin: 12rem 6rem!important;


}
.post-title h6{
  font-size: 1.3rem!important;
  color: #bb0000;
  margin: 0.7rem 0!important;
}
.widget-title h6{
  font-size: 1.5rem!important;
  color: #000;
  margin: 1rem 0!important;
}


/*---Media Queries --*/

@media (max-width: 767px) {

  .container {
    max-width: 100%!important;
    overflow-x: hidden!important;
    padding-right: 15px;
    padding-left: 15px;

  }

  body{
    overflow-x: hidden!important;
    
  
  }
  .carousel-caption h1{
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: 1.2rem;
  
  }
  .carousel-caption h3{
    font-size: 1.5rem;
    padding-bottom: .5rem;
  
  }
  .navbar-brand img{
    height: 2.93rem!important;
    width: 8.75rem!important;;
  
  }
  
  .btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem!important;
    line-height: 1.5;
    border-radius: .3rem;
  }
   .display-4  {
    font-size: 2.4rem!important;
    line-height: 1.2!important;
    padding-top: 0.5rem;
  }
  .social a{
    font-size: 2rem;
    padding: 10px;
  }
  p.para{

    font-style: normal!important;
    font-weight: 500!important;
    font-size: 1rem!important;
  }
  .banner {
    font-size: 3rem!important;
    font-family: Montserrat, sans-serif;
    font-weight: 600!important;
    line-height: 3.2rem!important;
    font-style: normal;
    margin-top: 3.2rem;
    color: #ff1000;
  }
  .caro-cap h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    padding-top: 1.5rem;
    letter-spacing: .3rem;
  }
  p#about.para{
    padding: 5px!important;
    padding-top: 15px!important;
  }
  .h5, h5 {
    font-size: 1rem!important;
  }
  
  .display-3 {
    font-size: 3.5rem!important;
    line-height: 1.2!important;
    font-weight: 900!important;
    color: #ff1000!important;
    padding-top: 50px!important;
  }
  a#chat_btn.btn.btn-outline-light.btn-lg{
    
    font-size:0.6rem!important;
    z-index:100!important;
    text-decoration: none!important;
  }
  
  
  div#quote_heads.caro-item{
  height: 70vh;
  }

  div.sermon_para p{
    color: #000;
    font-size: 1.3rem!important;
    font-family: 'Playfair Display', serif!important;
    font-weight: 500!important;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: auto!important;
  }
  .blog-content{
    display: grid;
    
  }


  
}
@media screen and (min-width: 992px){
  .blog-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/